*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body, html{
  height: 100%;
	font-family: 'Roboto', sans-serif;
}

.root{
  height: 100%;
}

.start-screen{
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.brand-section{
	height: 218px;
}

.brand-section-logo{
	height: 100%;
}

.input-content{
	margin-top: 75px;
	margin-bottom: 30px;

	width: 345px;
}

.start-input{
	width: 100%;
	height: 49px;
	
	border: 1px solid #000000;
	border-radius: 12px;
	
	padding: 13px;

	font-weight: 300;
	font-size: 16px;
	line-height: 19px;

	color: #000000;

	transition: all 1s ease-in-out;
}

.start-input:focus {
	outline: 0;
}

.invalid-input{
	border: 1px solid #dc3545;

	transition: all 1s ease-in-out;
}

.invalid-feedback{
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;

	animation: go-up 1s;

	transition: all 1s ease-in-out;
}

.valid-input{
	border: 1px solid #28a745;

	transition: all 1s ease-in-out;
}

.valid-feedback{
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #28a745;

	animation: go-up 1s;

	transition: all 1s ease-in-out;
}

.warning-input{
	border: 1px solid #ffc107;

	transition: all 1s ease-in-out;	
}

.warning-feedback{
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #ffc107;

	animation: go-up 1s;

	transition: all 1s ease-in-out;	
}

.none-feedback{
	animation: go-down 1s;

	transition: all 1s ease-in-out;
}

@keyframes go-up {
	0% {
			transform: translateY(10px);
	}
	100% {
			transform: translateY(0);
	}
}

@keyframes go-down {
	0% {
			transform: translateY(0);
	}
	100% {
			transform: translateY(-10px);
	}
}

.start-button{
	width: 345px;
	height: 72px;

	margin-bottom: 15px;

	text-align: center;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;

	background-color: #FFFFFF;

	border: 3px solid #FFEF61;
	border-radius: 12px;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 1s ease-in-out;

	cursor: pointer;
}

.start-button-text{
	margin-right: 5px;
}

ion-icon{
	font-size: 30px;

	color: #FFEF61;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  
  70% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(0.95);
  }
}

.start-button:hover{
	background-color: #afa43c;

	color: #FFEF61;

	transform: scale(1);
  animation: pulse 2s infinite;

	transition: all .5s ease-in-out;
}

.start-button:active{
	background-color: #FFFFFF;

	color: #000000;

	transform: scale(1);
	transition: all .1s ease-in-out;
}

.header{
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 100px;

	position: fixed;
	top: 0;
	left: 0;
}

.header-logo{
	height: 45px;
}

.container-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;
}

.card{
	width: 23%;
	height: 68%;

	position: relative;

	margin-top: 50px;
}

.card-title{
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;

	margin-top: 30px;

	text-align: center;

	color: #000000;
}

.face {
	width: 100%;
	height: 100%;

	border-radius: 12px;

	background: #FFFFFF;

	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;

	backface-visibility: hidden;
	
	transition: all .5s;
	transform-style: preserve-3d;
}

.back-face {
	transform: rotateY(180deg);
}

.back-face-flipped {
	transform: rotateY(0deg);
}

.front-face-flipped {
	transform: rotateY(-180deg);
}

.border-learned-now{
	border: 5px solid #000000;
}

.border-dont-remember{
	border: 5px solid #F64848;
}

.border-remembered-with-effort{
	border: 5px solid #62DB38;
}

.border-zap{
	border: 5px solid #FFEF61;
}

.card-content{
	height: 95%;
	width: 100%;

	margin: 12px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-header-front{
	font-size: 18px;
	line-height: 21px;

	text-align: right;
}

.card-body-front{
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;	
	
	color: #000000;

	text-align: center;
}

.card-footer-front{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.card-header-back{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-header-back-title{
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;

	color: #000000;
}

.empty{
	visibility: hidden;
}

.card-header-back-counter{
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;

	color: #000000;
}

.card-body-back{
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-body-back-response{
	width: 294px;

	font-size: 16px;
	line-height: 19px;

	color: #000000;
}

.card-footer-back{
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-newfooter-back{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.card-footer-back-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-footer-back-button{
	width: 65px;
	height: 48px;

	border: 1px solid black;
	border-radius: 12px;

	background-color: #FFFFFF;

	font-size: 10px;
	line-height: 12px;

	color: #000000;

	margin: 0 5px;

	cursor: pointer;
}

.card-footer-back-button:hover{
	animation: pulse .5s;
}

.button-learned-now{
	border: 3px solid #000000;
}

.button-dont-remember{
	border: 3px solid #F74848;
}

.button-remembered-with-effort{
	border: 3px solid #62DB38;
}

.button-zap{
	border: 3px solid #FFEF61;
}

.card-footer-img{
	width: 40px;

	cursor: pointer;

	animation: pulse .5s infinite;
}

.header-screen{
	margin-left: 15px;
	margin-top: 15px;

	position: fixed;
	top: 0;
	left: 0;
}

.header-screen-logo{
	height: 45px;
}

.screen-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;
}

.screen-container-title{
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	
	color: #000000;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.screen-container-img{
	height: 36px;
	margin-left: 10px;
}

.screen-container-subtitle{
	font-size: 22px;
	line-height: 26px;

	text-align: center;
	
	margin-top: 16px;
	margin-bottom: 16px;
	
	color: #000000;
}

@media (max-width: 640px){
	.input-content,
	.start-button,
	.card{
		width: 90%;
	}
}